* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ruda', sans-serif;
}

::-moz-selection { color: #fff; background: #7ad2fa; }
::selection { color: #fff; background: #7ad2fa; }

/*canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0px;
}*/
body {
  	height: 100vh;
  	background-color: #fefefe;
  	background: linear-gradient(#7ad2fa 0%, #c5ebe2 100%);
  	background-repeat: no-repeat;
  	background-size: cover;
}
.container {
	width: 100%;
	min-height: 100%;
	text-align: center;
}
.form-container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contant-title h1 {
	font-size: 38px;
	color: #fff;
	padding: 10px;
}

.content-wrap {
	padding: 10px;
	border: 1px solid #f2f2f2;
	border-radius: 10px;
	background-color: #f2f2f2;
}

.section1, .section2, .section3 {
	display: block;
	padding: 10px;
}
.section1 h3, .section2 h3, .section3 h3 {
	padding: 10px;
	font-weight: normal;
	color: #555560;
}
.write-ipt, .answer-ipt {
	width: 300px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #555560;
	border-radius: 3px;
	outline: none;
}
.write-ipt::placeholder, .answer-ipt::placeholder {
	font-style: italic;
}
.shift-ipt {
	margin: 10px;
	padding: 5px;
	border: 1px solid #555560;
	border-radius: 3px;
}
.button-enc, .button-dec {
	margin: 10px;
	padding: 6px 24px;
	font-size: 16px;
	letter-spacing: 2px;
	cursor: pointer;
	color: #333;
	background-color: #7ad2fa;
	border-color: #7ad2fa;
	border-radius: 5px;
	outline: none;
	transition: all ease 0.5s;
}
.button-enc:hover, .button-dec:hover {
	background-color: #42bcf5;
	border-color: #42bcf5;
}
.author {
	margin: 30px 0 10px;
}
.author a {
	text-decoration: none;
	color: #000;
}
.author a:hover, .git-link a:hover {
	color: #555560;
}
.git-link, .git-link a {
	color: #000;
}


@media (max-width: 500px) {
	.form-container {
		overflow-y: scroll;
	}
	.contant-title h1 {
		font-size: 30px;
	}
	.write-ipt, .answer-ipt {
		width: 250px;
		padding: 5px;
	}
	.section1, .section2, .section3 {
		padding: 5px;
	}
	.section1 h3, .section2 h3, .section3 h3 {
		font-size: 20px;
	}
	.button-enc, .button-dec {
		margin: 10px 5px;
		padding: 6px 14px;
		font-size: 14px;
		letter-spacing: 0;
	}
}
